*{
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
    background: gray;
    color: white;
    padding: 70px;
}
h2{
    color: black;
    text-align: center;
    font-size: 4ch;
    padding-top: 5px;
}
nav ul {
    background-color: rgb(169, 214, 101);
    width: 100%;
    font-size: 3ch;
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline-flex;
    color: white;
}
nav li:hover{
    background-color: green;
}
nav a {
    text-decoration: none;
    color: blue;
    padding: 10px;
    width: 150px;
}

.contenido {
    margin: 80px;
    text-align: center;
}
.secciones {
    display: inline-block;
    align-content: center;
    border: 3px solid black;
    padding: 5%;
}

p {
    color: black;
    font-size: 3ch;
    text-align: center;
}



